a:hover {
  text-decoration: underline;
}

.page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
