.container {
  position: relative;
}

.postLink {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.authorLink {
  z-index: 3;
}

.card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: var(--card-text-colour);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details {
  display: flex;
  justify-content: space-between;
  color: var(--details-text-colour);
  font-weight: 600;
}
